@import "../core/variables";
.button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;

  color: white;
  text-align: center;
  border: none;

  background-color: $blue;
  border-radius: 5px;
  padding: 8px;
  min-width: 270px;

  font-size: 14px;
  font-weight: bold;
  margin: 5px;
}
