// Esta es la variable que usaremos como tamaño por defecto
// $defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts

$font-roboto: "Roboto", sans-serif;

// colors

$blue: #0095f6;
$blue-dark-two: #00376b;
$blue-dark: #385185;
$black: #000000;
$grey: #737373;
