@import "../core/variables";
.enter {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__image {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    padding: 15px 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 10px;
  }
  &__forgetPassword {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
  }
  &__nocount {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    padding: 25px 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  &__link {
    color: $blue;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    text-decoration: none;
  }
}
